@import "../../../../assets/scss/vars.scss";
.comment {
  margin-top: 1rem;
  color: $text-color;
  mat-icon {
    color: $text-color;
    transform: rotate(-90deg) scale(1.5);
  }
  .text {
    color: $text-color-dark;
  }
  a,
  a:active,
  a:hover,
  a:visited {
    color: $text-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
