@import '../../../assets/scss/vars.scss';

header{
    background-color: $header-background-color;
    padding: 0.5rem 1rem;
    min-height: 3rem;
    img{
        border: 1px solid $border-color;
    }
    nav{
        height: 100%;
        .title  {
            font-weight: bold   ;
        }
        mat-divider{
            height: 12px;
            background-color: $text-color-dark;
        }
        a, a:active, a:visited, a:hover {
            text-decoration: none;
            color: $text-color-dark;
        }
    }
}